body{
    font-family: 'Raleway', sans-serif;
}
header{
    width: 100%;
    background: aqua;
    padding-top: 12px;
    padding-bottom: 12px;
    
}
/*.header-top{
    width: 100%;
    background: aqua;
    height: auto;
    padding-top: 18px;
    padding-bottom: 12px;
}
.container-head{
    width: 80%;
    margin: 0px auto;
}*/

.logo-holder{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}
.graphiclogo{
    max-width: 100%;
    height: 95px;
    box-sizing: border-box;
}
/*.header-bottom{
    width: 100%;
    height: 67px;
    background: cadetblue;
}*/
.nav-holder{
    display: block;
    margin-left: 0;
    padding: 10px;
    margin-top: 25px;
    width: 70%;
}

.advantages{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fefedd;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.advantages__container{
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
}
.advantages__item{
    width: 28%;
    padding: 12px 10px;
}

.sidebar__container{
    background: #fefedd;
}

footer{
    background: #3aafcc;
}



